./challenges/fallback-01/.env
./challenges/fallout-02/.env
./challenges/coinflip-03/.env
./challenges/telephone-04/.env
./challenges/token-05/.env
./challenges/delegation-06/.env
./challenges/force-07/.env
./challenges/vault-08/.env
./challenges/king-09/.env

